<div style="margin-left:25px!important; margin-right:25px!important;">
	Using <b>ComputePrimesDescending</b> method:
	<br /><br />

	<form action="<%= home_ex_two_form_path%>">
		 N value (put any integer > 1):
		 <br />
		 <input type="text" name="max_number">
		 <br /><br />
		 <input value="Get primes" type="submit" class="btn btn-success"/>
	</form>
</div>
