<div style="margin-left:25px!important; margin-right:25px!important;">
	<p>Method Complexity: O(n^2)</p>
	<p>Getting all prime numbers up to <%= params[:max_number]%>. Showing results:</p>
	<p><%= @array.to_s %></p>	
</div>