<div style="margin-left:25px!important; margin-right:25px!important;">
	<% if params[:ex] == "1"%>
		<p>HTTP GET Request made to <b>www.mcafee.com</b>. Showing results:</p>
		<br /><br />
		<p><%= params[:response].to_s %></p>
	<% end %>

	<% if params[:ex] == "2"%>
		<p>Getting all prime numbers up to <%= params[:max_number]%>. Showing results:</p>
		<p><%= params[:array].to_s %></p>	
	<% end %>
</div>