<!DOCTYPE html>
<html>
<head>
  <title>McafeeExercises</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	<%= render "layouts/navbar" %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>

	</body>
</html>
